*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family:"Encode Sans Expanded", sans-serif;
    scroll-behavior: smooth;
}

a {
    color: inherit;
    text-decoration: none;
  }