:root {
  --fg-primary: #031730;
  --fg-secondary: #266fce;
}
/* 
=====
header
=====

*/
.header{
  display: inline;
  padding: 40px;
  
}

.header__list{
  text-decoration: none;
  padding: 20px;
  float: right;

}

.header__list li{
  display: inline;
  padding: 30px;
  text-transform: uppercase;
}

.header__list li:hover{
  color: #266fce;
}

.logo{
  margin-left: 30px;
}

.hero{
  margin: auto;
  margin-top: 7rem;
  letter-spacing: 0.2rem;
  max-width: 1500px;
}

.hero__title{
  font-size: large;

}
.hero__company{
  font-size: 4rem;
  font-weight: 1000;
  margin-top: 5px;
  
}

.hero__subtitle{
  font-weight: 700;
  font-size: x-large;
  text-transform: uppercase;
  color: #266fce;
}




.hero__services-item{
  float: right;
  border: 5px solid black;
  display: grid;
}


.services{
  margin-top: 20rem;
  text-transform: uppercase;
  display: flex;
  font-size: xx-large;
  font-weight: 550;
  justify-content: center;
}

/* 
=====
card
=====

*/
.card{
  /* border: 1px solid black; */
  margin-top: 4rem;
  max-width: 75%;
  
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  box-shadow: 5px 8px 18px #888888;
  border-radius: 0.5rem;
}

.card__icon{ 
  
  background-color: #266fce;
  width: 80px;
  height: 80px;
  /* display: flex;
  justify-content: center;*/
  border-radius: 0.5rem;
  padding: 4rem;
  
}

.card__title{
  font-weight: 900;
  margin-left: 5%;
  font-size: x-large;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.card__icon-container{
  width: 330px;
  height: 330px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.card__content{
  line-height: 1.6rem;
  letter-spacing: 0.1rem;
}







